<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h1><center>List of movies</center></h1>
    {% for movie_obj in movie_data %}
    <h1>Title:{{ movie_obj.title}}</h1>
    <h1>Summary:{{ movie_obj.summary|default:'No data available' }}</h1>
    <h1>Year:{{ movie_obj.year }}</h1>
    {% if movie_obj.success %}
        <h3> Movie was a success at that time </h3>
    {% endif %}
    {% endfor %}
    {% endblock content %}
</body>
</html>